Repository ninoseki/azuma: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, mypy

uv-lock:
  run: uv lock

uv-sort:
  run: uv run uv-sort

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

mypy:
  run: uv run mypy {staged_files}

refactor: refactor complex function (#45)
  azuma/parsers/detection.py
  tests/schemas/rule/test_base64.py
  tests/schemas/rule/test_base64offset.py
Due: ruff, ruff-format, mypy

feat: utf16
  azuma/parsers/detection.py
  docs/index.md
  tests/parsers/test_detection.py
Due: ruff, ruff-format, mypy

feat: utf16 (#46)
  azuma/parsers/detection.py
  docs/index.md
  tests/parsers/test_detection.py
Due: ruff, ruff-format, mypy

test: add a helper function to compose a rule
  tests/schemas/rule/test_all.py
  tests/schemas/rule/test_all_of.py
  tests/schemas/rule/test_base.py
  tests/schemas/rule/test_base64.py
  tests/schemas/rule/test_base64offset.py
  tests/schemas/rule/test_cased.py
  tests/schemas/rule/test_cidr.py
  tests/schemas/rule/test_contains.py
  tests/schemas/rule/test_endswith.py
  tests/schemas/rule/test_exists.py
  tests/schemas/rule/test_gt.py
  tests/schemas/rule/test_gte.py
  tests/schemas/rule/test_lt.py
  tests/schemas/rule/test_lte.py
  tests/schemas/rule/test_mach.py
  tests/schemas/rule/test_match.py
  tests/schemas/rule/test_multi_lines.py
  tests/schemas/rule/test_n_of.py
  tests/schemas/rule/test_nested_dict.py
  tests/schemas/rule/test_null.py
  tests/schemas/rule/test_re.py
  tests/schemas/rule/test_selection.py
  tests/schemas/rule/test_startswith.py
  tests/schemas/rule/test_substrings.py
  tests/schemas/rule/test_wildcard.py
  tests/schemas/rule/test_windash.py
  tests/utils.py
Due: ruff, ruff-format, mypy

test: add a helper function to compose a rule (#47)
  tests/schemas/rule/test_all.py
  tests/schemas/rule/test_all_of.py
  tests/schemas/rule/test_base.py
  tests/schemas/rule/test_base64.py
  tests/schemas/rule/test_base64offset.py
  tests/schemas/rule/test_cased.py
  tests/schemas/rule/test_cidr.py
  tests/schemas/rule/test_contains.py
  tests/schemas/rule/test_endswith.py
  tests/schemas/rule/test_exists.py
  tests/schemas/rule/test_gt.py
  tests/schemas/rule/test_gte.py
  tests/schemas/rule/test_lt.py
  tests/schemas/rule/test_lte.py
  tests/schemas/rule/test_mach.py
  tests/schemas/rule/test_match.py
  tests/schemas/rule/test_multi_lines.py
  tests/schemas/rule/test_n_of.py
  tests/schemas/rule/test_nested_dict.py
  tests/schemas/rule/test_null.py
  tests/schemas/rule/test_re.py
  tests/schemas/rule/test_selection.py
  tests/schemas/rule/test_startswith.py
  tests/schemas/rule/test_substrings.py
  tests/schemas/rule/test_wildcard.py
  tests/schemas/rule/test_windash.py
  tests/utils.py
Due: ruff, ruff-format, mypy

docs: update README [skip ci]
  README.md
Due: none

docs: update README [skip ci] (#48)
  README.md
Due: none

refactor: relax Pydantic
  azuma/__init__.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format, mypy

refactor: relax Pydantic (#49)
  azuma/__init__.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format, mypy

refactor: more relax Pydantic
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

Relax pydantic (#50)
  pyproject.toml
  uv.lock
Due: uv-lock, uv-sort

Path conditions:
  uv-lock: any of: pyproject.toml
  uv-sort: any of: pyproject.toml
  ruff: any of: *.py
  ruff-format: any of: *.py
  mypy: any of: *.py
